.card {
  max-width: 282px;
  max-height: 360px;
  background-color: white;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
  padding: 0 0 25px;
}

.card__image:hover {
  cursor: pointer;
}

.card__description {
  max-width: 242px;
  margin: 0;
  padding: 0 20px 25px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.card__title {
  max-width: 219px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 900;
  margin: 0;
  padding: 0;
  color: black;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__button {
  outline: none;
  background: transparent url("../images/like-inactive.svg") no-repeat center;
  margin: 0;
  padding: 0;
  width: 21px;
  height: 18px;
  border: none;
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

.card__button_active {
  background: url("../images/like-active.svg") no-repeat center;
}

.card__button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__delete_button {
  outline: none;
  background: url("../images/trash-icon.svg") no-repeat center;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 19px;
  border: none;
  position: absolute;
  top: 18px;
  right: 15px;
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

.card__delete_button:hover {
  opacity: 0.6;
  cursor: pointer;
}
