@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");
@import url("../blocks/page.css");

.header {
  width: 100%;
}

.header__container {
  max-width: 880px;
  max-height: 74px;
  margin: 45px auto 40px;
  padding: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.header__logo {
  max-width: 173px;
  margin: 0;
  padding: 0 0 41px 0;
}

.header__division {
  border-bottom: 1px solid #545454;
}

.content {
  width: 100%;
}

.profile {
  max-width: 880px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

.profile__info {
  max-width: 415px;
  margin: 0;
  padding: 0 18.75% 0 3.41%;
}

.profile__name {
  min-width: 415px;
  margin: 0;
  padding: 0 0 7px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.profile__name-text {
  max-width: 375px;
  margin: 0;
  padding: 0;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.15;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__button-edit {
  outline: none;
  background: black url(../images/edit-icon.svg) no-repeat center;
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  border: solid 1px white;
  opacity: 1;
  transition: opacity 0.2s ease-out;
  flex-shrink: 0;
}

.profile__button-edit:hover {
  opacity: 0.5;
}

.profile__description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
}

.profile__button-add {
  outline: none;
  border: solid 1px white;
  background: black url(../images/add-icon.svg) no-repeat center;
  background-size: 22px;
  margin: 0;
  padding: 0;
  width: 150px;
  height: 50px;
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

.profile__button-add:hover {
  opacity: 0.5;
}

.cards {
  max-width: 880px;
  margin: 0 auto;
  padding: 50px 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 17px;
  justify-content: center;
}

.card {
  max-width: 282px;
  min-height: 360px;
  background-color: white;
  border: none;
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  margin: 0;
  padding: 0 0 25px;
  max-width: 100%;
}

.card__description {
  max-width: 242px;
  margin: 0;
  padding: 0 20px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.card__title {
  max-width: 219px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 900;
  margin: 0;
  padding: 0;
  color: black;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__button {
  outline: none;
  background: url(../images/like-inactive.svg) no-repeat center;
  margin: 0;
  padding: 0;
  width: 21px;
  height: 18px;
  border: none;
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

.card__button:hover {
  opacity: 0.5;
}

.footer__content {
  max-width: 880px;
  margin: auto;
  padding: 66px 0 60px;
  font-weight: 400;
  color: #545454;
}

@media screen and (max-width: 880px) and (min-width: 581px) {
  .header__logo {
    max-width: 147px;
    padding: 0 0 38px 13px;
  }

  .profile {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
  }
  .profile__info {
    padding: 36px 0 30px 0;
  }

  .profile__name {
    min-width: 282px;
    justify-content: center;
    column-gap: 10px;
  }

  .profile__name-text {
    max-width: 286px;
    font-size: 32px;
    line-height: 1.2;
  }

  .profile__button-edit {
    width: 21px;
    height: 21px;
  }

  .profile__description {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
  }
}

@media screen and (max-width: 580px) {
  .header__container {
    margin: 28px 0 42px;
  }

  .header__logo {
    max-width: 126px;
    padding: 0 0 32px 27px;
  }

  .profile {
    max-width: 282px;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .profile__info {
    padding: 36px 0 30px 0;
  }

  .profile__name {
    min-width: 282px;
    justify-content: center;
    column-gap: 10px;
  }

  .profile__name-text {
    max-width: 200px;
    font-size: 22px;
    line-height: 1.2;
  }

  .profile__button-edit {
    width: 18px;
    height: 18px;
  }

  .profile__description {
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
  }

  .profile__button-add {
    width: 100%;
    background-size: 16px;
  }

  .cards {
    max-width: 88%;
  }

  .footer__content {
    max-width: 88%;
  }
}
